# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual envs
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/

# Config
.env
.env.*
.vscode/
.idea/
.DS_Store
Thumbs.db

# Venv
venv/
.venv/
**/venv/
**/.venv/

/bak/


# ignore report backup dirs
reports/bak
reports/bak.*
reports/**/bak
reports/**/bak.*


# ignore report backup dirs
reports/bak
reports/bak.*
reports/*/bak
reports/*/bak.*

reports/bak*/
reports/bak.py
reports/**/*.bak*/
reports/**/backup*/
reports/bak/
reports/bak*/
reports/bak.py
reports/**/.bak*/
reports/**/backup*/
